 h1 {
    font-size: 25pt;
    text-align: center;
    font-weight: extra bold;
    font-family: courier new;
}

p {
font-family: Arial, sans-serif;
font-size: 12pt;
text-wrap: left;
}

        body {
            background: linear-gradient(to bottom, lightblue, blue, darkblue);
            margin: 1; 
            height: 300vh; 
            color: white; 
            font-family: Arial, sans-serif; 
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: left;
            text-align: left;
        }

.image-container img.src {
    width: 400px; 
    height: auto; 
    border: 2px solid #000; 
    border-radius: 10px; 
    align: center;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h2 { 
  font-size: 14pt;
  text-align: center;
  font-weight: italic;
  font-family: Arial, sans-serif, italic;
}


figcaption {
  text-align: center;
}
